<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rundsa.app">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RunDSA"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.TopicDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"> <!-- Splash Screen (Launcher) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Auth -->
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity" /> <!-- Main -->
        <activity android:name=".activities.HomeActivity" /> <!-- Learning -->
        <activity android:name=".activities.LearnActivity" />
        <activity android:name=".activities.QuizActivity" /> <!-- Quiz -->
        <activity android:name=".activities.QuizLevelActivity" />
        <activity android:name=".activities.QuizQuestionActivity" />
        <activity android:name=".activities.QuizResultActivity" /> <!-- Practice -->
        <activity android:name=".activities.PracticeCodeActivity" />
        <activity android:name=".activities.PracticeDetailActivity" /> <!-- Fun -->
        <activity
            android:name=".activities.FunExerciseActivity"
            tools:ignore="Instantiatable" />
        <!-- Progress -->
        <activity android:name=".activities.ProgressActivity" />
        <!-- Compiler -->
        <activity android:name=".activities.CompilerActivity" />
        <!--Sorting Game-->
        <activity android:name=".activities.SortingGameActivity" />
        <!-- Binary Search Hunt -->
        <activity android:name=".activities.BinarySearchGameActivity" />
        <!-- Memory Game -->
        <activity android:name=".activities.MemoryGameActivity"/>
    </application>

</manifest>